.landing_page_container

	%h1.landing_page_title FOX BASE ALPHA
	
	.landing_page_form

		=form_tag session_create_url
	
		.landing_page_labels
			%p= label_tag :email, "Email:"
			%p= label_tag :password, "Password:"	
		
		.landing_page_fields
			%p= text_field_tag :email 	
			%p= password_field_tag :password
		
		.initiate_connect= submit_tag "Initiate Connect"
	
	=link_to "Not a user? Sign-up", new_user_url