

<h1>New micropost</h1>

<%#= render 'form' %>
<p id="test"></p>

<%= form_for @micropost, :url => user_microposts_path(@user_id), :method => :post do |f| %>
    <% if @micropost.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>
        <ul>
          <% @micropost.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%#= f.label :user_id %><br />
    <%#= f.text_field :user_id, value: @user_id %>
  </div>
  <div class="field">
    <%= f.collection_select :alpha_id, @alphas, :id, :name %>
    <%= f.label :alpha_id, "Upload to Alpha" %><br />
    <%#= f.text_field :alpha_id %>
  </div>
  <div class="field">
    <%= f.label :anonymous, "Post anonymously" %>
    <%= f.check_box :anonymous, value: true %>
  </div>

  <div id="field">
    <%= f.label :micropost_lat, "Micropost's latitude" %>
    <%= f.text_field :micropost_lat%>
  </div>

  <div id="field">
    <%= f.label :micropost_lng, "Micropost's longitude" %>
    <%= f.text_field :micropost_lng%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <div id="location">

  </div>
<%= link_to 'Back', user_microposts_path(@user_id) %>

<p id="messagelocation"></p>


<script>

function success(position) {
  var lat = document.getElementById('micropost_micropost_lat');
  var lng = document.getElementById('micropost_micropost_lng')
  lat.value = position.coords.latitude;
  lng.value = position.coords.longitude;
}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('not supported');
}

</script>

