<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @micropost.content %>
</p>

<p>
  <b>User:</b>
  <%= link_to @user.handle, user_url(@user.id) %>
</p>


<%= link_to 'Edit', edit_user_micropost_path(@micropost.user_id, @micropost.id) %> |
<%= link_to 'Back', user_microposts_path(@micropost.user_id) %>
