<%= form_for(@alpha) do |f| %>
  <% if @alpha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alpha.errors.count, "error") %> prohibited this alpha from being saved:</h2>

      <ul>
      <% @alpha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label(:isprivate, "Make Alpha Private") %>
    <%= f.radio_button(:isprivate, true) %>
    <%= f.label(:isprivate, "Make Alpha Public") %>
    <%= f.radio_button(:isprivate, false) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
