<h1> Listing alphas </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Protection Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @public_alphas.each do |alpha| %>
  <tr>
    <td><%= alpha.name %></td>
    <td>Public</td>
    <td><%= link_to 'Show', alpha %></td>
    <% if alpha.admin_id == session[:user_id] %>
      <td><%= link_to 'Edit', edit_alpha_path(alpha) %></td>
      <td><%= link_to 'Destroy', alpha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
    <%# else %>
      <!-- <td></td>
      <td></td> -->
    <%# end %>
  </tr>
<% end %>

<% @private_alphas.each do |alpha| %>
  <tr>
    <td><%= alpha.name %></td>
    <td>Private</td>
    <td><%= link_to 'Show', alpha %></td>
    <% if alpha.admin_id == session[:user_id] %>
      <td><%= link_to 'Edit', edit_alpha_path(alpha) %></td>
      <td><%= link_to 'Destroy', alpha, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% if alpha.admin_id == session[:user_id] %>
        -- you are admin
        <%end%>
      </td>
    <%end%>
    <%# else %>
      <!-- <td></td>
      <td></td> -->
    <%# end %>
  </tr>
<% end %>

</table>

<br />

<%= link_to 'New Alpha', new_alpha_path %>
