%p#notice= notice

.alpha_title_block

  .name_and_admin
    
    %p
      %b Alpha Name:
      =@alpha.name

    %p
      %b Admin:
      = @admin.handle 

  .location_information
    %p
      .Address
        %b Adresss:
        Address here!
      .Size
        <b> Alpha Size: </b>
        = @alpha.radius  
        m
    %p  
      = @alpha.alpha_lat 
      latitude /
      = @alpha.alpha_lng 
      longitude

  .protection_and_users

    %p
      <b>Alpha Protection status:</b>
      -if @alpha.isprivate 
        Private
      -else
        Public



    -if @alpha.isprivate
      %p
        %b Whitelisted Users:
        -if @users.count >= 1
          %ul
            -@users.each do |user_entry|
              %li
                =user_entry.name 
                -if user_entry.id == @alpha.admin_id 
                  is admin
        -else
          None

.microposts
  %p 
    <b>Alpha Microposts:</b>
    %ul
      -@microposts.each do |micropost_object| 
        %li
          -if micropost_object.anonymous 
            %p Anonymous says... 
          -else 
            %p
              =link_to micropost_object.user.handle, user_microposts_path(micropost_object.user_id)
              says...
          %p= micropost_object.content 
          %p
            Coordinates: 
            =micropost_object.micropost_lat
            lat / 
            =micropost_object.micropost_lng
            lng 

%div#map
  %b Micropost Locations:
  %br

%div#data_a

  -if @alpha.isprivate && @alpha.admin_id == session[:user_id]
    =link_to 'Add User', new_alpha_user_path(@alpha.id)
  
  -if @alpha.admin_id == session[:user_id] 
    =link_to 'Edit Alpha', edit_alpha_path(@alpha)
  
  =link_to 'Back to Alphas', alphas_path 

%article
  %p
    Finding your location: <span id="status">checking...</span>

%script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false")

%script(type="text/javascript" src="myloc.js")
