%p#notice= notice

%h1.alpha_title
  =@alpha.name

.alpha_title_block.clearfix

  .one_by_two_block

    .title_sub_block
      %p
        Address here!

    .title_sub_block
      %p
        = @alpha.radius  
        m access radius 

  .one_by_two_block#no_margin

    .title_sub_block
      %p  
        = @alpha.alpha_lat 
        %b Lat.

    .title_sub_block
      %p
        = @alpha.alpha_lng
        %b Lng.

  .three_by_one_block

    .title_sub_block
      %p
        %b Admin
        %br
        = @admin.handle

    .title_sub_block
      %p
        -if @alpha.isprivate 
          %b Private
        -else
        %b Public 
        %br
        Any can post

    .title_sub_block
      %p
        %b= @alpha.microposts.count
        %b posts 
        %br
        by
        %br
        %b= @alpha.users.count
        -if @alpha.users.count <= 1
          %b user
        -else
          %b users

/ .title_sub_block
/   -if @alpha.isprivate
/     %p
/       %b Whitelisted Users:
/       -if @users.count >= 1
/         %ul
/           -@users.each do |user_entry|
/             %li
/               =user_entry.name 
/               -if user_entry.id == @alpha.admin_id 
/                 is admin
/       -else
/         None
        

.alpha_microposts
  %p 
    %div.post.clearfix
      <b>Alpha Microposts:</b>
      %ul.micropost
        -@microposts.each do |micropost_object| 
          %li.each_post
            -if micropost_object.anonymous 
              %p Anonymous says... 
            -else 
              %p
                =link_to micropost_object.user.handle, user_microposts_path(micropost_object.user_id)
                says...
            %p= micropost_object.content 
            %p
              Coordinates: 
              =micropost_object.micropost_lat
              lat / 
              =micropost_object.micropost_lng
              lng 
    
            

%div#map.clearfix
  %b Micropost Locations:
  %br

%div#data_a

  -if @alpha.isprivate && @alpha.admin_id == session[:user_id]
    =link_to 'Add User', new_alpha_user_path(@alpha.id)
  
  -if @alpha.admin_id == session[:user_id] 
    =link_to 'Edit Alpha', edit_alpha_path(@alpha)
  
  =link_to 'Back to Alphas', alphas_path 

%article
  %p
    Finding your location: <span id="status">checking...</span>

%script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false")

%script(type="text/javascript" src="myloc.js")
