<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @alpha.name %>
</p>

<p>
  <b>Protection status:</b>
  <% if @alpha.isprivate %>
  	Private
  <% else %>
  	Public
  <% end %>
</p>

<% if @alpha.isprivate  %>
 <p>
  <b> Whitelisted Users:</b>
   <% if @users.count >= 1 %>
    <ul>
     <% @users.each do |user_entry| %>
      <li>
        <%= user_entry.name %>
          <% if user_entry.id == @alpha.admin_id %>
            -- admin
          <% end %>
      </li>
     <%end%>
    </ul>
   <%else%>
    None
   <%end%>
 </p>
<%end%>


<p>
  <b>Microposts:</b>
	<ul>
	  <% @microposts.each do |micropost_object| %>
		<li>
		 <% if micropost_object.anonymous %>
		 	 <p>Anonymous says... </p>
		 <% else %>
			 <p><%= link_to micropost_object.user.handle, user_microposts_path(micropost_object.user_id) %> says...</p>
		 <%end%>
		 <p><%= micropost_object.content %></p>
		</li>
	  <% end %>
	</ul>

<% if @alpha.isprivate %>
	<%= link_to 'Add User', new_alpha_user_path(@alpha.id) %> |
<%end%>
<%= link_to 'Edit', edit_alpha_path(@alpha) %> |
<%= link_to 'Back', alphas_path %>
