<p id="notice"><%= notice %></p>

<p>
  <b>Alpha Name:</b>
  <%= @alpha.name %>
</p>

<p>
  <b>Alpha Protection status:</b>
  <% if @alpha.isprivate %>
  	Private
  <% else %>
  	Public
  <% end %>
</p>

<p>
  <b> Alpha Admin: </b>
  <%= @admin.name %>
</p>


<% if @alpha.isprivate  %>
 <p>
  <b> Whitelisted Users:</b>
   <% if @users.count >= 1 %>
    <ul>
     <% @users.each do |user_entry| %>
      <li>
        <%= user_entry.name %>
          <% if user_entry.id == @alpha.admin_id %>
            -- admin
          <% end %>
      </li>
     <%end%>
    </ul>
   <%else%>
    None
   <%end%>
 </p>
<%end%>


<span id="body_content">
<div id="microposts">
<p>
  <b>Alpha Microposts:</b>
	<ul>
	  <% @microposts.each do |micropost_object| %>
		<li>
		 <% if micropost_object.anonymous %>
		 	 <p>Anonymous says... </p>
		 <% else %>
			 <p><%= link_to micropost_object.user.handle, user_microposts_path(micropost_object.user_id) %> says...</p>
		 <%end%>
		 <p><%= micropost_object.content %></p>
     <p>Coordinates: <%=micropost_object.micropost_lat%>-lat/<%=micropost_object.micropost_lng%>-lng</p> 
		</li>
	  <% end %>
	</ul>
</div>
<div id="map">
  <b>Micropost Locations:</b><br><br><br>
</div>

<div id="data_a">
</div>
</span>

<% if @alpha.isprivate && @alpha.admin_id == session[:user_id]%>
	<%= link_to 'Add User', new_alpha_user_path(@alpha.id) %> |
<%end%>
<% if @alpha.admin_id == session[:user_id] %>
  <%= link_to 'Edit Alpha', edit_alpha_path(@alpha) %> |
<%end%>
<%= link_to 'Back to Alphas', alphas_path %>


<script>

var alpha_id = <%= @alpha.id %>;
var url_string = "http://localhost:3000/alphas/" + alpha_id + ".json";
$.get(url_string,
   function(data){
     $('body').append( "<br>MP1: " + data[0][0]["micropost_lat"] + "-lat " + data[0][0]["micropost_lng"] + "-lng "  + "<br>" ) // John
              .append( "MP2: " + data[0][1]["micropost_lat"] + "-lat " + data[0][1]["micropost_lng"] + "-lng "  + "<br>" )
              .append( "MP3: " + data[0][2]["micropost_lat"] + "-lat " + data[0][2]["micropost_lng"] + "-lng "  + "<br>" ) //  2pm
     console.log(data);
   }, "json");

// function itworked(data) {
//   var some_text = document.getElementById("map");
//   var data_area = document.getElementById("data_a")
//   some_text.innerHTML = "It Worked!";
//   // $('data_area').prepend(data);
//   alert(data);
// };

</script>
