<!DOCTYPE html>
<html>
<head>
  <title>Foxbasealpha</title>
  <%# include gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:message] %>
		<h3><%= flash[:message] %> </h3>
	<% end %>
  <navigation>
	<% if session[:user_id] %>
		<%= link_to "Logout", session_destroy_url %> |
		<%= link_to "Alphas", alphas_url %> |
		<%= link_to "New Micropost", new_user_micropost_url(session[:user_id]) %> |
		<%= link_to "User Dashboard", user_url(session[:user_id]) %>

	<% else %>
		<%= link_to "Log in", session_new_url %>
	<%end> %>
  </navigation>

<%= yield %>

</body>
</html>
